@font-face {
  font-family: Arista-Pro-Light;
  src: url(@/../../../public/fonts/Arista-Pro-Light.ttf);
}

@font-face {
  font-family: Ermilov;
  src: url(@/../../../public/fonts/Ermilov-bold.otf);
}

:root {
  --bg: #2a2a2a;
  --bgSoft: #2d2b42;
  --text: white;
  --textSoft: #e5e5e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ermilov;
}

body {
  background-color: var(--bg);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  min-height: 100vh;
}
