.container {
  min-height: 100vh;
  width: 100%;
}
.mainImgContainer {
  width: 50%;
  height: 60vh;
  position: relative;
}

.img {
  border-radius: 5px;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3em;
}
