.container {
  height: 100vh;
  display: flex;
  margin: 0 auto;
  color: white;
}

.img {
  object-fit: cover;
  border-radius: 5px;
}

.imagesContainer {
  display: flex;
  align-content: flex-start;
  gap: 15px;
  min-width: 600px;
}

.mainImgContainer {
  width: 70%;
  min-width: 60vh;
  height: 100%;
  position: relative;
}

.additionalImages {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 15%;
  height: 100%;
  position: relative;
}

.additionalImage {
  width: 100%;
  height: 25%;
  position: relative;
}

.info {
  width: 40vh;
}

.wrapperPrice {
}

.price,
.discount {
}
